*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", sans-serif;

}

.hh{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid;
    background-color: orange;;
}

.vermas{
    background-color: orange;
}

.artfoto p {
    color: black;
}

.artfoto img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 8px;

}

.artfoto h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

.logo{
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.logo img{
    max-height: 100%;
    max-width: 100%;
}

.buscar{
    display: flex;
    align-items: center;
    border: 1px solid;
    margin-right: 15px;
    padding: 0 8px;
    width: 100%;
}

.buscar label{
    margin-right: 10px;
    font-size: 15px;
    color: rgb(68, 34, 239);
}

.buscar input{
    width: 100%;
    border: none;
}

.artfoto .vermas{
    background-color: orange;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
}


.buscar button{
    border: 1px solid;
    background-color:#333 ;
    padding: 10px 15px;
     color: white;
}

.login1{
    display: flex;
    margin-left: 10px
}

.boton{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(68, 34, 239);
    }

.login .buscarr {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    text-decoration: none;
    margin-left: 15px;
}

.main{
    display: flex;
    padding: 15px;
    background-color: rgb(8, 7, 78);
}

.categorias{
    width: 240px;
    border: 1px solid;
    padding: 15px;
    margin-right: 15px;
}

.artfoto .vermas a{
    text-decoration: none;
    color: black;
}

.categorias ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.categorias li{
    margin-bottom: 7px;
}

article{
     width: 100%;
    border: 1px solid;
    padding: 15px;
}

.title{
    margin: 16px 0 8px;
    color: orange;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.artfoto{
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    width: 220px;
    margin: 10px;
    color: black;
}

.masprod .items{
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    padding: 10px;
}

.masprod .foto2{
    border: 1px solid;
    font-size: 15px;
    margin: 10px;
    text-align: center;
    width: 180px;     
    height: 180px;
    display: block; 
} 

/* css register */

.body2{
    background-image: url(../img/fondo-body.png);
}

.main-register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-register{
    margin-top: 30px;
}

.sec-register{
    text-align: center;
    margin-top: 30px;
}

.f-register{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #acd3ffb9;
    padding: 25px;
    font-size: 15px;
}

.f-register div{
    margin-bottom: 15px;
}

.ytc{
    color: rgba(0, 0, 255, 0.61)
}

.f-register button{
    font-weight: 700;
    padding: 7px;
    border-radius: 10px;
}

.f-register a{
    font-style: italic;
}



@media (max-width: 450px){
    .hh{
        flex-wrap: wrap;
    }

    .logo{
        width: 120px;
        height: 45px;
        margin-bottom: 10px;
    }

    .buscar{
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    .login .boton{
        padding: 10px 12px;
        display: inline-block;

    }

    .mejprod .foto{
        width: 45%;
    }

    .masprod .foto2{
        width: 45%;
    }
}

/*css_login*/

.body3{
    background-image: url(../img/fondo-body.png);
}

.main-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-login{
    margin-top: 30px;
}

.sec-login{
    text-align: center;
    margin-top: 30px;
}

.f-login{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #acd3ffb9;
    padding: 25px;
    font-size: 15px;
}

.f-login div{
    margin-bottom: 15px;
}

.f-login button{
    font-weight: 700;
    padding: 7px;
    border-radius: 10px;
}

.f-login a{
    font-style: italic;
    color: rgba(0, 0, 255, 0.61)
}

.boton{
    text-decoration: none;
    list-style: none;
}


@media (max-width: 450px){
    .hh{
        flex-wrap: wrap;
    }

    .logo{
        width: 120px;
        height: 45px;
        margin-bottom: 10px;
    }

    .buscar{
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    .login .boton{
        padding: 10px 12px;
        display: inline-block;

    }

    .mejprod .foto{
        width: 45%;
    }

    .masprod .foto2{
        width: 45%;
    }
}

.h3t{
    color: white;
}

.vermas{
    color: orange;
}

/*css_category*/

body{
    font-family: "Raleway", sans-serif;

}

.hh{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid;
    background-color: orange;
}


.logo{
    width: 160px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.logo img{
    max-height: 100%;
    max-width: 100%;
}

.buscar{
    display: flex;
    align-items: center;
    border: 1px solid;
    margin-right: 15px;
    padding: 0 8px;
    width: 100%;
}

.buscar label{
    margin-right: 10px;
    font-size: 15px;
    color: rgb(68, 34, 239);
}

.buscar input{
    width: 100%;
    border: none;
}

.buscar button{
    border: 1px solid;
    background-color:#333 ;
    padding: 10px 15px;
     color: white;
}


/* css product*/

.foto12{
    width: 700px;
    margin-right: 30px;
}

.thermomix2{
    background-color: #555;
    color: #555;
}

.descrip{
    color: white;
    padding-top: 50px;
    text-align: left;
}

.poner{
    margin-top: 100px;
}

.precio{
    color: green;
    margin-top: 400px;
}

